body {background-color: rgb(223, 184, 255); background-image: url(../Imagenes/fondo.jpg); background-attachment:fixed ; background-size: cover;}
.azul{background-color: rgb(255, 197, 255);color: rgb(0, 0, 0); margin-left: 200px; margin-right: 200px;}
.verde{color: rgb(0, 0, 0);margin-left: 20px;}
body{font-size: 12px;}
.decoration{text-decoration-line: underline;}
.medio{text-align: center;}
body{width: 100%;}
.wsp{position: fixed;
bottom: 20px;
height: 100px;
right: 10px;}