body {background-color: rgb(223, 184, 255); background-image: url(../Imagenes/fondo.jpg); background-attachment:fixed ; background-size: cover;}
.azul{background-color: rgb(255, 197, 255);color: rgb(0, 0, 0); margin-left: 200px; margin-right: 200px;}
.verde{color: rgb(0, 0, 0);margin-left: 20px;}
body{font-size: 12px;}
.decoration{text-decoration-line: underline;}
.medio{text-align: center;}
body{width: 100%;}
.wsp{position: fixed;
bottom: 20px;
height: 100px;
right: 10px;}

.imagenvideo{

height: 200px;
width: 250px;

}

 .medio{
    display: flex;
    justify-content: space-evenly;}


    .logo{ height: 80px;}


    .redes {
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .redes2 {
        height: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: center;
    }

    header{
        display: flex;
        justify-content: space-evenly;
    }

    .titulo{font-size: 40px; text-decoration-line: underline;}

    aside{
        display: flex;
        flex-direction: row;
        justify-content: space-between;


    }