body {background-color: rgb(255, 183, 183);}
.azul{background-color: blue;color: white;}
.verde{color: green;}
body{font-size: medium;}
.decoration{text-decoration-line: underline;}
.medio{text-align: center;}
body{width: 100%;}